<ul class="nav navbar-nav side-nav">
    <li><a href="{:U('index/index')}"><i class="fa fa-dashboard"></i> 仪表盘</a></li>
    <li class="dropdown">
        <a href="{:U('factory/index')}"><i class="fa fa-reorder"></i> 厂区管理</a>
    </li>
    <li class="dropdown">
        <a href="{:U('member/index')}"><i class="fa fa-users"></i> 管理员</a>
    </li>
    <li class="dropdown">
        <a href="{:U('user/index')}"><i class="fa fa-users"></i> 用户管理</a>
    </li>
    <!--
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> 系统设置 <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="{:U('setting/index')}">自定义字段</a></li>
            <li><a href="#">系统优化</a></li>
            <li><a href="#">缓存管理</a></li>
        </ul>
    </li>
    -->
</ul>