<html>
<head>
	<title>抽奖</title>
	<link rel="stylesheet" href="__STATIC__/css/reset.css">
	<link rel="stylesheet" href="__STATIC__/css/page.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="__STATIC__/js/jquery-3.3.1.min.js" type="text/javascript"></script>
</head>

<body>
  <div class="musicbox rotatebox">
<audio title="背景音乐" src="__STATIC__/img/bkg.mp3" loop="true" width="100%" height="0%" autoplay="true" id="player"> </audio>
  </div>
	<iframe src="{:U('index/welcome')}" class="frame"></iframe>
</body>
<script type="text/javascript">
window.onload = function(){
    $('.musicbox').click(function(){
           if($(this).hasClass('rotatebox')){
            $('#player')[0].pause()
            $(this).removeClass('rotatebox')
           }else{
            $('#player')[0].play()
            $(this).addClass('rotatebox')
           }
    })
}
</script>
</html>